<!DOCTYPE html>
<html>

<head>
  <title>Discord で開ける Seesaa Wiki のリンクを生成</title>
  <meta property="og:title" content="Discord で開ける Seesaa Wiki のリンクを生成" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://seesaawiki.gaato.net/" />
  <meta property="og:description" content="文字コードの問題で Seesaa Wiki のリンクは Discord では開けないので作りました" />
  <style>
    #output-url {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  </style>
  <script>
    function copyToClipboard() {
      var copyText = document.getElementById("output-url");
      var textArea = document.createElement("textarea");
      textArea.value = copyText.textContent;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand("Copy");
      textArea.remove();
    }
  </script>
</head>

<body>
  <h1>Discord で開ける Seesaa Wiki のリンクを生成</h1>
  <form action="/" method="GET">
    <label for="input-url">Enter Seesaa Wiki URL:</label><br>
    <input type="text" id="input-url" name="url" value="{{.InputUrl}}"><br>
    <input type="submit" value="Convert">
  </form>
  {{if .Url}}
  <h2>Converted URL:</h2>
  <p id="output-url">{{.Url}}</p>
  <button onclick="copyToClipboard()">Copy URL</button>
  {{end}}
</body>

</html>
